* {
    /*border: 1px solid red;*/
    font-family: 'Roboto', sans-serif;
}

.background {
    background-image: url(../images/main_background.jpg);
    background-color: #ecdaa9;
    background-size: cover;
    width: 100vw;
    height: 940px;
}

.header {
    display: flex;
    align-items: center;
    width: 100vw;
    color: white;

}

.logo {
    padding-top: 13px;
    padding-right: 20px;
    height: 54px;
}

#name {
    box-sizing: border-box;
    height: inherit;
    padding-top: 15px;
    flex-shrink: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.left,
.right {
    display: flex;
    width: 20vw;
    flex-shrink: 1;
}

.heading {
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.contact-box {
    display: flex;
    width: 30vw;
    /*было 607пикс*/
    justify-content: flex-end;
    flex-wrap: wrap;
}

.phone img,
.email img {
    display: flex;
    height: 24px;
    padding-right: 13px;
}

.email {
    margin-left: 33px;
}

.phone,
.email {
    display: flex;
    flex-shrink: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
}

.callbutton {
    display: flex;
    flex-shrink: 0;
    width: 186px;
    margin-left: 45px;
}

.callbutton a {
    display: flex;
    padding-top: 12px;
    height: 44px;
    width: 100em;

    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;

    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 22px;
}

.callbutton :hover {
    color: black;
    background-color: #FFFFFF;
}

.divider {
    display: flex;
    width: 100vw;
    background: #C4C4C4;
    opacity: 0.3;
}

.nav {
    display: flex;
    padding-top: 20px;
}

.menu {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    text-decoration: none;
    padding-right: 32px;

    color: #FFFFFF;
}

.main {
    display: flex;
    color: #FFFFFF;
}

.main .heading {
    display: flex;
    width: 724px;
    height: 236px;
    top: 226px;
    margin-bottom: 0px;

    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
}

.motto {
    width: 562px;
    height: 59px;
    top: 8px;
    margin-bottom: 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}

.choosetourbutton {
    display: flex;
    flex-shrink: 0;
}

.choosetourbutton a {
    display: block;
    padding-top: 19px;
    width: 250px;
    height: 60px;
    margin-top: 94px;
    margin-left: 20vw;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
}

.choosetourbutton :hover {
    color: black;
    background-color: #FFFFFF;
}

.point1 {
    display: flex;
    height: 220px;
    justify-content: center;
    align-items: flex-end;
}

.point1 img {
    width: 40px;
}

.container1 {
    display: flex;
    width: 100vw;
    height: 792px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 64px;
    margin-bottom: 64px;
}

.line1,
.line2,
.line3 {
    display: flex;
    justify-content: center;
    width: inherit;
    text-align: left;
}

.container1 a {
    display: block;
    width: 14vw;
    height: 200px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;

    border: 1px solid #D9D9DE;
    box-sizing: border-box;
    border-radius: 6px;

    color: #000000;
}

.container1 a:hover {
    border: 1px solid #4f4ff8;
}

.container1 img {
    width: inherit;
}

.container1 div {
    margin-right: 32px;
}

.container2 p {
    width: 100vw;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    padding-top: 44px;
    text-align: center;
}

.container2 {
    display: block;
    background-color: #f5f7e7;
    width: 100vw;
}

.container2 img {
    width: 84px;
    margin-bottom: 16px;
}

.container2 span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

#line_1,
#line_2 {
    display: block;
    width: 100vw;
    text-align: center;
}

.container2 div {
    display: inline-flex;
    flex-wrap: wrap;
    width: 17vw;
    height: inherit;
    text-align: left;
    margin-right: 33px;
    margin-top: 50px;
}